bandit==1.7.10
boto3==1.35.28
botocore==1.35.28
coverage==7.6.1
flake8==7.1.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
moto==5.0.17
numpy==2.1.1
packaging==24.1
pandas==2.2.3
pbr==6.1.0
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pyflakes==3.2.0
Pygments==2.18.0
pytest==8.3.3
python-dateutil==2.9.0.post0
pytest-it==0.1.5
pytz==2024.2
PyYAML==6.0.2
s3transfer==0.10.2
safety==3.2.7
safety-schemas==0.0.5